<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Customers</title>

<body style="background-color: #f7f5f4;">
    <a href="MainLandingPage.html" class="previous">&laquo; Previous</a>
    <div class="nav bg-primary">
        <div class = "container" style="text-align: center;">
            <h3 class="text-white">Current Customer Dashboard</h3>
        </div>
    </div>
    Queries will fill these tables
    <div class="container-fluid">
            <table class="table table-hover border">
                    <thead>
                    <tr>
                    <th>Customer ID</th>
                    <th>Customer Lifetime Value (CLV)</th>
                    <th>Retention Cost (RC)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-danger">
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    </tr>
                    <tr class="table-warning">
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    </tr>
                    <tr class="table-success">
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    </tr>
                    </tbody>
                    </table>
    </div>
<!--
<div class="row" style="height:25%;">
        <div class="col-sm-3" style="background-color: springgreen;padding: 5%;margin: 0 auto;text-align: center;">
            <div class="container">
                <a href="/CurrentCustomerDashBoard.html">Current Customers</a>
            </div>
        </div>
        <div class="col-sm-3" style="background-color: orange;padding: 5%;margin: 0 auto;text-align: center;">
            <div class="container">
                <a href="/NewAcquiredCustomerDashBoard.html">Newly Acquired Customers</a>
            </div>
        </div>
        <div class="col-sm-3" style="background-color: red;padding: 5%;margin: 0 auto;text-align: center;">
            <div class="container">
                <a href="/NewAcquiredCustomerDashBoard.html">Prospective Customers</a>
            </div>
        </div>
<div>
-->

</body>
</html>